/* General Page Styling */
body {
  margin: 0;
  padding: 0;
  font-family: work-sans, sans-serif;
}

 /* Navigation Bar Styling */
 header {
  background-color: #81d8cf5b;
  color: #393f28;
  padding: 20px 0;
  text-align: right;
  align-items: center;
  font-family: work-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3vw;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 15px;
}
.header-text {
  font-size: 36px; 
  font:  Arial, sans-serif;
  color: #393f28;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin: 0;
  font-weight: 1%;
}
.header-link{
  color: inherit;
  text-decoration: none;
}
.my-name{
  margin-right: 800px; 
  text-align: center;
  font-weight: 800;
  font-style: normal;
  font-size: 2vw;
  text-shadow: 2px 2px 4px rgba(165, 160, 160, 0.5);
}
.nav-list {
  padding-right: 80px;
  list-style: none;
  padding: 50;
  margin: 0;
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
}
.nav-list li {
  margin-right: 30px; 
}
.nav-list a {
  font-size: 24px; 
  text-decoration: none;
  color: #393f28;
}
.mesh-container-content {
  display: flex;
  align-items: center;
  text-align: center;
}
.mesh-container-content h2 {
  font-size: 2.5rem;
  color: #393f28;
  padding-bottom: 1%;
}
.mesh-container-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding-bottom: 1%;
  color: #393f28;
}
.development-image{
  padding-top: 2%;
  padding-bottom: 1%;
}
.mesh-container-content .btn:hover {
  background-color: rgb(195, 195, 195)3c3;
}
.gif-waveing{
  border-radius: 10px;
  padding-left: 200px;
}
.introduction-text {
  background-color: #f0f0f0;
  padding: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 900px; 
  color: #393f28;
}
.introduction-text h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
.introduction-text p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}


/* Case General Styling -- Referenced the handin page my teammates and I worked on for Iterative Design */
.title-main-header {
  text-align: center;
  padding-top: 50px;
  
  font-family: work-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;
  color: #393f28;
}
.header {
  font-size: 2vw; 
  padding: 10px 0; 
  font-family:work-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #393f28;
  text-align: left;
}
.case-content p{
  font-size: 1.5vw; 
  line-height: 1.5;
  color: #393f28;
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.case-content ul {
  color: #393f28;
  font-size: 1.5vw; 
  line-height: 1.5; 
  list-style-type: disc;
  padding-left: 20px; 
}
.case-content img {
  color: #393f28;
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto; 
}
.split-section-white {
  display: flex;
  justify-content: space-around;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: #ffffff;
  border-color: #333;
}
.split-section-green {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: #81d8cf5b;
  border-color: #333;
}
.sidebar {
  width: 20vw;
  padding-left: 10vw;
  text-align:start;
}
.poem {
  padding: 20px;
  padding-top: 60px;
  text-align: center;
  font-style: italic;
  line-height: 1.5;
} 
.case-content {
  width: 65%; 
  padding-left: 8vw;
  padding-right: 8vw;
}
.website-button, .back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4d4d; 
  color: #fff; 
  text-decoration: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}
.website-button:hover,.back-button:hover {
  background-color: hsl(0, 30%, 88%); 
}
.split-section-white, .split-section-green {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; 
} 
  
/* Project Section of Home Page */
.content-divs1, .content-divs2, .content-divs3, .content-divs4 {
  width: 30em;
  height: 25em;
  background-color: #81d8cf5b;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
  /* transition: transform 0.3s ease;  */
}
.content-divs1 img {
  max-width: 100%; 
  display: block;
  margin-bottom: 20px; 
}
.content-divs1 h2 {
  font-size: 2rem; 
  color: #ff0000; 
  margin-bottom: 15px; 
}
.content-divs1 p {
  font-size: 1.2rem; 
  color: #ff0000; 
  margin-bottom: 20px; 
}
.development-text{
  font-size: 1.2rem;
  font-weight: 550;
}
.case-specific-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000; 
  color: #fff;
  padding: 12px 24px; 
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-items: end;
}
.mesh-container-content .btn:hover {
  background-color: rgb(195, 195, 195)3c3;
}
.case-specific-button:hover {
  background-color: #cc0000; 
}
.projects-section {
  text-align: center;  
  padding-right: 70px; 
  color: #393f28;
}
.gif-container2 {
  display: inline-block;
  margin-top: 20px; 
}
.content-wrapper {
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.gif-container img {
  max-width: 100%; 
}

/* Responsiveness */
/* Referenced YouTube video "How to Add Smooth Scrolling Anchor Links to Jump to a Specific 
Part of a Web Page - HTML & CSS" to get the anchor link to scroll smoothly */
html{
  scroll-behavior: smooth;
}

/* Footer */
footer {
  background-color: white;
  padding: 10px;
  color: #393f28;
  text-align: center;
  display: flex;
}
.footer1{
  background-color: white;
  padding: 10px;
  padding-right: 460px;
  color: #393f28;
  text-align: center;
  display: flex;
}
.gif-container {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 5px;
}
.footer-info {
  color: #393f28;
  flex-grow: 1;
}
.footer-top {
  padding-top: 30px;
  color: #393f28;
  margin-bottom: 20px;
}
.footer-bottom {
  padding: 30px;
  padding-left: 100px;
  color: #393f28;
  padding-right: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom1 {
  padding: 30px;
  padding-left: 210px;
  padding-right: 105px;
  color: #393f28;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-text {
  font-size: 28px;
  font-weight: bold;
  color: #393f28;
}
.small-text {
  font-size: 24px;
  color: #393f28;
}
.back-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #FF3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-links{
  display: flex;
  margin-right: 110px;
}
.contact-links a {
  font-size: 26px;
  font-weight: 600;
  margin-left: 20px;
  text-decoration: none;
  color: #FF3333;
}
.contact-links a i {
  margin-left: 5px;
}

/* About Me */
.sidebar1 {
  width: 40vw;
  text-align:start;
}
.about-me-text{
  font-size: 1.21vw; 
  line-height: 1.5;
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-me{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #393f28;
  text-shadow: 2px 2px 4px rgba(206, 137, 137, 0.5);
}
.split-section-white {
  display: flex;
  align-items: flex-start;
}
.split-section-green {
  display: flex;
  align-items: flex-start;
}
.competitive-analysis-table-about-me {
  max-width: 50%; 
  height: auto; 
}
.about-me-image {
  width: 60%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.flex-container {
  display: flex;
  margin: 0 -20px; 
  flex-direction: row;
  flex-basis: auto; 
  justify-content: center;
  gap: 9em;
}
.content-divs1 {
  width: 50%; 
  padding: 0 20px; 
  width: 30em;
  height: 30em;
}
.development-image {
  display: flex;
  justify-content: center; 
}
.development-image img {
  max-width: 100%; 
}

/* Reference: Code is from my responsive redesign assignment so that the cards work well with the resizing of screens*/
@media (max-width: 429px) {
  .content {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    gap: 8em;
    flex-grow: 1;
    padding: 430px 40px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
  }
} 

@media (min-width:430px){
  .content {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
    gap: 4em;
    flex-grow: 1;
    padding-top: 180px;
    padding: 100px 40px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
  } 
}

@media (min-width: 768px){
  .content {
      display: flex;
      flex-direction: row;
      flex-basis: auto; 
      justify-content: center;
      gap: 9em;
    }
    .content-divs1, .content-divs2, .content-divs3, .content-divs4{
      max-width: 95%;
      padding: 60px 60px;
    }  
    h2{
      font-size: 3rem;
      margin:1.5rem;
    }
    nav ul {
      flex-direction: row;
  }
}

/* Navigation Bar resizing */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .text-below{
    flex-direction: row;
  }
  @media screen and (max-width: 1300px) {
    .image {
      width: 400px;
    }
  }
  @media screen and (max-width: 1130px) {
    .image {
      width: 500px;
    }
    .images {
      justify-content: center;
    }
  }
  @media screen and (max-width: 650px) {
    .image {
      width: 400px;
    }
    .split-section {
      flex-direction: column;
    }
    .sidebar {
      width: 100vw;
      text-align: left;
    }
    .main-header {
      font-size: 40px;
    }
    .content {
      padding-left: 10vw;
    }
  }
  
  @media screen and (max-width: 450px) {
    .image {
      width: 300px;
    }
  }
}